@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
*{
  margin: 0;
  padding: 0;

}

  /* para cambiarle el color a los iconos */
.fa-bars{
  color: #000;
}

.navbar:not(.navbar-transparent){
  background-image: linear-gradient(to right, black , green);
}

body{
  background:
  linear-gradient(
    rgba(48, 68, 53, 0.7),
    rgba(48, 68, 53, 0.7)
    ),
    url(../img/IMG_20180816_094337419_HDR-PANO.jpg);
  background-repeat: repeat-x;
  /* background-position: 50% 50%; */
  background-attachment: fixed;
  background-size: cover;
}

.text{
  font-family: 'Raleway', sans-serif;
}

.nav-tabs-navigation{
  width: 185px;
  border: 2px solid #fff;
  background: #333;
  margin-top: 40px;
}


.tab-pane{
  border: 2px solid;
  background-color: #333;
  color: white;
}

.btn{
  /* color: #fff !important;
  background-color: #333 !important;
  border : 2px solid white !important;
  border-radius: 6px !important; */
}

#PDF{
  font-family: 'Raleway', sans-serif;
}
.title{
  margin-top: 20vh;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #eee;
  /* text-shadow: 4px 0 0 #222, -4px 0 0 #222, 0 4px 0 #222, 0 -4px 0 #222, 2px 2px #222, -2px -2px 0 #222, 2px -2px 0 #222, -2px 2px 0 #222; */
  text-shadow: 4px 0 0 #222, -4px 0 0 #222, 0 4px 0 #222, 0 -4px 0 #222, 4px 4px #222, -4px -4px 0 #222, 4px -4px 0 #222, -4px 4px 0 #222;
}
.subtitle{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #eee;
}
#abbutton{
  background-color: rgba(3, 3, 3, 0.5);
  border: 2px solid #fff;
  /* float:left; */
  /* margin-left: 25vw; */
  /* margin-right: 25vw; */
  text-transform: uppercase;
}
#abbutton:hover{
  background-color: white;
  color: black;
}
.botones{
  text-align: center;
}
#resbutton{
  background-color: rgba(3, 3, 3, 0.5);
  border: 2px solid #fff;
  /* float: right; */
  /* margin-right: 25vw; */
  text-transform: uppercase;
}
#resbutton:hover{
  background-color: white;
  color: black;
}
