@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
*
{
    margin: 0;
    padding: 0;
}

/* para cambiarle el color a los iconos */
.fa-bars
{
    color: #000;
}

.navbar:not(.navbar-transparent)
{
    background-image: linear-gradient(to right, black , green);
}

body
{
    background: linear-gradient(
    rgba(48, 68, 53, .7),
    rgba(48, 68, 53, .7)
    ),
    url(../img/IMG_20180816_094337419_HDR-PANO.jpg);
    background-repeat: repeat-x;
    /* background-position: 50% 50%; */
    background-attachment: fixed;
    background-size: cover;
}

.text
{
    font-family: 'Raleway', sans-serif;
}

.nav-tabs-navigation
{
    width: 185px;
    margin-top: 40px;

    border: 2px solid #fff;
    background: #333;
}

.nav-link
{
    text-align: center;
    font-size: 32px;
}

.tab-pane
{
    color: white;
    border: 2px solid;
    background-color: #333;
}

.btn
{
    /* color: #fff !important;
  background-color: #333 !important;
  border : 2px solid white !important;
  border-radius: 6px !important; */
}

#PDF
{
    font-family: 'Raleway', sans-serif;

    margin-top: 5vh;
}
#PDF a
{
    color: white;
}
.title
{
    font-family: 'Raleway', sans-serif;

    margin-top: 20vh;

    text-align: center;

    color: #eee;
    /* text-shadow: 4px 0 0 #222, -4px 0 0 #222, 0 4px 0 #222, 0 -4px 0 #222, 2px 2px #222, -2px -2px 0 #222, 2px -2px 0 #222, -2px 2px 0 #222; */
    text-shadow: 4px 0 0 #222, -4px 0 0 #222, 0 4px 0 #222, 0 -4px 0 #222, 4px 4px #222, -4px -4px 0 #222, 4px -4px 0 #222, -4px 4px 0 #222;
}
.subtitle
{
    font-family: 'Raleway', sans-serif;

    text-align: center;

    color: #eee;
}
#abbutton
{
    /* float:left; */
    /* margin-left: 25vw; */
    /* margin-right: 25vw; */
    text-transform: uppercase;

    border: 2px solid #fff;
    background-color: rgba(3, 3, 3, .5);
}
#abbutton:hover
{
    color: black;
    background-color: white;
}
.botones
{
    text-align: center;
}
#resbutton
{
    /* float: right; */
    /* margin-right: 25vw; */
    text-transform: uppercase;

    border: 2px solid #fff;
    background-color: rgba(3, 3, 3, .5);
}
#resbutton:hover
{
    color: black;
    background-color: white;
}

.logo{
  width: 100px;
  height: 100px;
  z-index: 10000;
  position: absolute;
  margin-top: 2vh;
  margin-left: 25vh;
}

.navbar-brand img{
  display: none;
}
.resitem{
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

#experience .container{
  font-family: 'Raleway', sans-serif;

}

.row-margin{
  margin-top: 2vh;
}
.job-title{
  border-bottom: 1px solid #fff;
}

.resitem{
  margin-top: 20px;
  margin-bottom: 0px;
  text-decoration: underline;
  color: #0078db;
}

.job-description{
  margin-bottom: 1vh;
}
.duration{
  text-align: center;
  padding-right: 50vh;
  color: #2677e2;
}

.card-header{
  text-align: left;
}
/* Posibilidad de ponerle una caja a las actividades dentro de cada trabajo */
/* .job-activities{
  border: 1px solid #fff;
} */
